.App {
  text-align: center;
}

.section {
  margin-top: 20px;
}

.dataVis {
  display:flex;
  justify-content: space-between;
  width: 60%;
  height: 30%;
}

.sensor-chart {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  width: 40vw;
}

.btn-primary {
  margin-left: 10px;
}

form {
  margin-bottom: 10px;
}